.Section {
  background-color: black;
}

.myVideo {
  width: 100%;
  height: 87vh;
  object-fit: cover;
  -o-object-fit: cover;        /* old Opera */
  -webkit-object-fit: cover;   /* iOS Safari/WebKit */
  margin-top: 80px;
  display: block;

  /* For GPU acceleration (smooth playback on iOS) */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

@media(max-width:768px) {
  .myVideo {
    height: 30vh;
    margin-top: 80px;
  }
}
