body{
    p{
        margin:0;
        padding:0;
    }
}
    .background_img{
  /*background: #211E3B;*/
    background-image: url("../../../../../public/img/earth.jpg");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 76px;
    padding: 40px;
}
.about_us{
    font-size:40px;
    font-weight:600;
    color:#43baff;
    text-align:center;
    margin-top:50px;
    margin-bottom:50px;
}

@media (max-width: 680px) {
body {
flex-direction: column;
}
}

@media(max-width:768px){
    .about_us {
font-size: 30px;
font-weight: 600;
color: #43baff;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}
.top_about {
margin-top: 20px;
}

}