
p{
    margin:0;
    padding:0;
}
.background-clr{
     background: transparent;
    /*background-image: url("img/earth.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 75px;
    padding: 50px;
    /* border-radius:15px; */
} 
.siderrr
{
    padding-left:60px;
}
.crousel_text_headung{
color:#8E88B8;
font-size: 14px;
font-weight: 800;
margin-bottom: 2px;
text-transform: uppercase;
}
.crousel_text_headung1{
    font-size: 35px;
    font-weight: 700;
    color: black;
    letter-spacing: 1px;
}
.top-rw{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_Website{
 font-size: 20px;
 font-weight: 600;
 margin-bottom: 5px;
 color:black;
 letter-spacing: 1px;
}
.about_Website_sub{
 color:#6d6d6d;
font-size: 16px;
font-weight: 500;
margin-bottom: 2px;
letter-spacing:1px;
}
.heading_line1{
    height: 2px !important;
    background-color: black;
    margin: 0px;
    width: 170px;
    border: none;
}

.btn_aboutRead_more{
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    font-size: 18px;
    padding: 8px 20px 6px 20px;
    display: inline-block;
    margin-bottom: 0;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    color: black;
    outline: none;
     margin-top:20px;
    background: transparent;
    border: 2px solid black !important;
    border-radius: 5px;

}
.btn_aboutRead_more button:hover {
    background: white;
}
.btn_aboutRead_more:hover, .btn_aboutRead_more:focus {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
     background: black;
    color:white;
    margin-top:20px;
}

.carousel-control-next, .carousel-control-prev {
position: absolute;
top: 0;
bottom: 0;
z-index: 1;
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: center;
justify-content: center;
 width: 4%; 
padding: 0;
color: #fff;
text-align: center;
background: 0 0;
border: 0;
opacity: .5;
transition: opacity .15s ease;
}
.carousel-indicators {
position: absolute;
right: 0;
bottom: 0;
left: 0;
z-index: 15;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: center;
justify-content: center;
padding-left: 0;
margin-right: 1%;
margin-left: 1%;
list-style: none;
display: none;
}


@media (max-width: 680px) {
body {
flex-direction: column;
}
}

@media(max-width:768px){
 
    .background-clr {
        /* background: black; */
        /* background-image: url(img/earth.jpg); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin-top: 0px;
        padding: 25px;
    }
.crousel_text_headung {
color: #8E88B8;
font-size: 14px;
font-weight: 800;
margin-bottom: 2px;
text-transform: uppercase;
margin-top: 35px;
}
.crousel_text_headung1 {
font-size: 22px;
font-weight: 900;
/* color: white; */
letter-spacing: 1px;
}
.about_Website {
font-size: 17px;
font-weight: 600;
margin-top: 5px;
margin-bottom: 5px;
color: #00deff;
}
.about_Website_sub {
color: rgb(46, 45, 45);
font-size: 14px;
font-weight: 400;
margin-bottom: 2px;
letter-spacing: 1px;
margin-top: 10px;
}
.siderrr {
    padding-left: 0px;
    padding-top: 30px;
}
}