.card_service{
    padding: 20px;
    background-color: white;
    border-bottom: 4px solid black ;
    box-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
    border-radius:0px 0px 5px 5px ;   
    width: 100%;
    margin-top: 30px;
    height:240px;
}
.card_flex{
    display: flex;
    align-items: center;
    gap:20px
}
.img_border{
    border: 4px solid black;
    border-radius: 50%;
    padding: 10px;
    /* height:60px;
    width:60px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_img{
    
    width: 30px;
    height:auto;
}
.ui_uxtext{
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.info_text{
    color: #6d6d6d;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    line-height: 30px;
}
@media(max-width:1380px)
{
    .card_service{
        
        height:255px;
    }
}
@media(max-width:900px)
{
    .card_service{
        
        height:285px;
    }
}
@media(max-width:800px)
{
    .card_service {
        padding: 15px;
        height:285px;
        
    }
    .ui_uxtext {
        font-size: 18px;
        font-weight: 600;
        color: black;
    }
    
}
@media(max-width:710px)
{
    .card_service {
        padding: 15px;
        height:auto;
        
    }
    
    
}
