p{
    margin:0;
    padding:0;
}

.what_we_offer{
color:#7141b1;
font-size:17px;
font-weight:600;
 margin-top:30px;
}
.top_about{
margin-top:100px;
}
.about_title_heading{
font-size:40px;
font-weight:900;
color:black;
letter-spacing:1px;
}
.about_titel{
 color: #6d6d6d;
 font-size:16px;
 font-weight:500;
 margin-bottom:20px;
 margin-top:20px;
 line-height:30px;
}
.about_titel1{
 color:black;
 font-size:18px;
 font-weight:500;
 margin-bottom:20px;
 margin-top:40px;
 line-height:30px;
}
.clarity_img{
         border-radius:5px;

}
.silhoiuette_img{
margin-top:35px;
         border-radius:5px;

}
.stand_img{
         border-radius:5px;

}

.join_img{
 margin-top:35px;
 filter: grayscale(90%);
 border-radius:5px;
}

@media (max-width: 680px) {
body {
flex-direction: column;
}
}

@media(max-width:768px){

.top_about {
margin-top: 20px;
}
.about_title_heading {
font-size: 22px;
font-weight: 900;
color: black;
letter-spacing: 1px;
margin-top: 10px;
}
.about_titel {
color: #6d6d6d;
font-size: 14px;
font-weight: 500;
margin-bottom: 20px;
margin-top: 20px;
line-height: 30px;
}
.about_titel1 {
color: black;
font-size: 14px;
font-weight: 500;
margin-bottom: 20px;
margin-top: 15px;
line-height: 30px;
}
.my_reveers
{
    display: flex;
    flex-direction: column-reverse;
}
}