p {
    margin: 0;
    padding: 0;
}

.contact_us {
    font-size: 40px;
    font-weight: 600;
    color: #43baff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.heading_line {
    height: 2px !important;
    background-color: black;
    margin: 0px;
    width: 100px;
    border: none;
}

.top_contact {
    margin-top: 100px;
}

.contact-details {
    color: #7141b1;
    font-size: 17px;
    font-weight: 600;
}

.form_top {
    margin-top: 30px;
}

.contact_detail1 {
    font-size: 35px;
    font-weight: 700;
    color: black;
    letter-spacing: 1px;
}

.contact_titel {
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact_headIn_g {
    font-size: 20px;
    font-weight: 600;
    margin-top: 7px;
    margin-left: 5px;
}

.contact_address {
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 5px;
}

.contact_card {
    padding: 30px;
}

.contact_card:hover {
    box-shadow: 15px 15px 38px 0 rgba(0, 0, 0, .1);
    background: white;
    padding: 30px;
    border-radius: 5px;
}

.form_card {
    background-color: black;
    padding: 40px;
}

.redy_get {
    font-size: 35px;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
}

.contact_form_field {
    width: 100%;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 15px;
    padding: 15px;
    outline: none;
    text-decoration: none;
}

.contact_form_textarea {
    width: 100%;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 15px;
    padding: 15px;
    outline: none;
    text-decoration: none;
}

::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

.octf-btn.octf-btn-light {
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}

.octf-btn {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    font-size: 14px;
    padding: 14px 30px 14px 30px;
    line-height: 1.42857143;
    display: inline-block;
    margin-bottom: 0;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 700;
    text-align: center;
    background: white;
    cursor: pointer;
    border: 1px solid transparent;
    color: #fff;
    outline: none;
    margin-top: 20px;
}

.wpcf7 .main-form button:hover {
    background: white;
}

.octf-btn:hover,
.octf-btn:focus {
    background: white;
    color: black;
    border-radius: 5px;
    margin-top: 20px;
}

iframe {
    width: 100%;
    margin-top: 80px;

}

@media(max-width:990px) {

    .about_top,
    .Portfolio-top,
    .top_contact {
        margin-top: 40px;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media(max-width:768px) {

    .about_top,
    .Portfolio-top,
    .top_contact {
        margin-top: 40px;
        padding-left: 6%;
        padding-right: 6%;
    }

    .contact_us {
        font-size: 30px;
        font-weight: 600;
        color: #43baff;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contact-details {
        color: #7141b1;
        font-size: 14px;
        font-weight: 600;
    }

    .contact_detail1 {
        font-size: 30px;
        font-weight: 900;
        color: black;
        letter-spacing: 1px;
    }

    .contact_titel {
        color: black;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .contact_headIn_g {
        font-size: 17px;
        font-weight: 600;
        margin-top: 10px;
        margin-left: 5px;
    }

    .contact_address {
        color: black;
        font-size: 14px;
        font-weight: 500;
        margin-top: 5px;
        margin-left: 5px;
    }

    .form_card {
        background-color: black;
        padding: 20px;
        margin-top:20px;
        border-radius: 4px;
    }

    .contact_form_field {
        width: 100%;
        background: transparent;
        color: white;
        border: 2px solid white;
        border-radius: 5px;
        margin-top: 15px;
        padding: 12px;
        outline: none;
        text-decoration: none;
    }

    .redy_get {
        font-size: 23px;
        font-weight: 700;
        color: white;
        letter-spacing: 1px;
    }
    .contact_card {
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        margin-bottom: 25px;
        border-radius: 5px;
    }
    .contact_card:hover {
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        margin-bottom: 15px;
        border-radius: 5px;
    }
    .side_padd
    {
        padding-left: 0px;
        padding-right: 0px;
    }
}