.about_heading1{
  font-size: 18px;
  font-weight: 700;
  color: black;
  letter-spacing: 1px;
  border: 2px solid black;
  padding: 9px 30px 9px 30px;
  border-radius: 5px;
}
.about_heading1:hover{
  font-size: 18px;
  font-weight: 700;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  border: 2px solid black;
  padding: 9px 30px 9px 30px;
  border-radius: 5px;
  transition: 0.8s;
}
.Portfolio-top{
    margin-top: 100px;
}
.portfolio-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.portfolio_card{
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin-top: 30px;
    border-radius: 5px;
    position: relative;
  width: 100%;
}
.port_img{
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #26252891;
  }
  
  .portfolio_card:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
@media(max-width:768px){
  .Portfolio-top{
    margin-top: 40px;
}
.about_heading1 {
  font-size: 15px;
  font-weight: 700;
  color: black;
  letter-spacing: 1px;
  border: 2px solid black;
  padding: 8px 17px 5px 16px;
  border-radius: 5px;
}
}