.web_line{
    height:2px;
    background:black;
    margin:0;
    border:none;
    width:270px;
}
.web_top{
    margin-top:70px;
}
.Website_heading{
  font-size: 28px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
  color:black;

}
.Website_sub{
  color:black;
 font-size: 22px;
 font-weight: 500;
 margin-bottom: 2px;
 letter-spacing:1px;
 margin-top:30px;
}
.Website_heading1{
 font-size: 28px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
  color:black;
}
 .web_top1{
    margin-top:50px;
 }
 .web_line1{
 height:2px !important;
    background:black;
    margin:0;
    border:none;
    width:270px;
 }
 .Website_subcontent{
  color:black;
 font-size: 19px;
 font-weight: 500;
 margin-bottom: 2px;
 letter-spacing:1px;
 margin-top:30px;
}
.content_heading{
       font-size: 22px;
 font-weight: 600;
}
.li-no{
      color:#867979;
 font-size: 19px;
}
.get_info{
 color:white;
 font-size: 19px;
 font-weight: 500;
 margin-top: 30px;
 letter-spacing:1px;
}
.get_info_heading{
  font-size: 28px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
  color:black;
}
.web_line2{
    height:2px;
    background:black;
    margin:0;
    border:none;
    width:220px;
}
.web_btn{
    transition: all 0.3s linear;
 -webkit-transition: all 0.3s linear;
 -moz-transition: all 0.3s linear;
 -o-transition: all 0.3s linear;
 -ms-transition: all 0.3s linear;
 font-size: 16px;
 padding: 20px 80px 20px 80px;
 display: inline-block;
 margin-bottom: 0;
 text-decoration: none;
 text-transform: uppercase;
 white-space: nowrap;
 vertical-align: middle;
 font-weight: 700;
 text-align: center;
 background: #43baff;
 cursor: pointer;
 border: 1px solid transparent;
 color: #fff;
 outline: none;
 margin-top:70px;
}
.web_btn button:hover {
 background: #7141b1;
}
.web_btn:hover, .web_btn:focus {
 background: #7141b1;
 color: #fff;
  margin-top:20px;
}

 .web_card{
     padding:20px;
     background:#f5f2f9;
     border-radius:5px;
 }
  .card_headding{
      color:black;
 font-size: 24px;
 font-weight: 600;
 letter-spacing:1px;
 margin-bottom:10px;
  }
  .card_titel{
        color:black;
 font-size: 16px;
 font-weight: 500;
 content:justify;
 
  }

 @media(max-width:768px){
     .about_us {
 font-size: 30px;
 font-weight: 600;
 color: #43baff;
 text-align: center;
 margin-top: 20px;
 margin-bottom: 20px;
 }
   .web_top {
 margin-top: 30px;
}
 .Website_heading {
 font-size: 20px;
 font-weight: 700;
 margin-top: 0px;
 margin-bottom: 5px;
 color: black;
}
.web_line {
 height: 2px;
 background: black;
 margin: 0;
 border: none;
 width: 110px;
}
.Website_sub {
 color: black;
 font-size: 15px;
 font-weight: 500;
 margin-bottom: 2px;
 letter-spacing: 1px;
 margin-top: 15px;
}
.Website_heading1 {
 font-size: 20px;
 font-weight: 700;
 margin-top: 0px;
 margin-bottom: 5px;
 color: black;
}
.web_line1 {
 height: 2px;
 background: black;
 margin: 0;
 border: none;
 width: 200px;
}
.content_heading {
 font-size: 18px;
 font-weight: 600;
}
.Website_subcontent {
 color: black;
 font-size: 14px;
 font-weight: 500;
 margin-bottom: 2px;
 letter-spacing: 1px;
 margin-top: 20px;
}
 }
