body{
    p{
        margin:0;
        padding:0;
    }
}
.top_contact{
    margin-top:70px;
}
.contact-details{
    color:#7141b1;
    font-size:17px;
    font-weight:600;
}
.contact_detail1{
    font-size:40px;
    font-weight:900;
    color:black;
    letter-spacing:1px;
}
.contact_titel{
     color:black;
     font-size:16px;
     font-weight:500;
     margin-bottom:20px;
}
.contact_headIn_g{
    font-size:20px;
    font-weight:600;
    margin-top:7px;
    margin-left:5px;
}
.contact_address {
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    margin-left:5px;
}
 .contact_card{
    padding:30px;
}
.contact_card:hover{
    box-shadow: 15px 15px 38px 0 rgba(0,0,0,.1);
    background:white;
    padding:30px;
    border-radius:5px;
}
@media(max-width:768px){
    .contact_us {
font-size: 30px;
font-weight: 600;
color: #43baff;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}
.contact-details {
color: #7141b1;
font-size: 14px;
font-weight: 600;
}
.contact_detail1 {
font-size: 30px;
font-weight: 900;
color: black;
letter-spacing: 1px;
}
.contact_titel {
color: black;
font-size: 14px;
font-weight: 500;
margin-bottom: 20px;
}
.contact_headIn_g {
font-size: 17px;
font-weight: 600;
margin-top: 10px;
margin-left: 5px;
}
.contact_address {
color: black;
font-size: 14px;
font-weight: 500;
margin-top: 5px;
margin-left: 5px;
}
.form_card {
background: linear-gradient(90deg, #00deff 0%, #7141b1 100%);
padding: 20px;
}
.contact_form_field {
width: 100%;
background: rgba(255, 255, 255, .3);
color: #fff;
border: none;
margin-top: 15px;
padding: 12px;
outline: none;
text-decoration: none;
}
.redy_get {
font-size: 23px;
font-weight: 700;
color: white;
letter-spacing: 1px;
}
}